div.wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
}
div.container {
	width: 100vw;
	height: 100vh;
	min-width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	display: flex;
	justify-content: center;
}

div.content {
	width: 1200px;
	display: grid;
	grid-template-rows: 128px 128px 56px 32px 48px 48px auto;
	gap: 16px;
	justify-items: center;
	align-items: center;
}
.logo {
	width: 256px;
}
.button {
	justify-self: flex-start;
}
.loading {
	width: 100%;
	justify-self: flex-start;
}
.total {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
	justify-self: flex-start;

	.number {
		justify-self: flex-end;
	}
}
.txns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-self: flex-start;
	align-self: start;
	margin-top: 64px;
	width: 62%;

	.header {
		background-color: rgba(255, 255, 255, 0.5);
		color: #772a54;
	}

	div {
		padding: 8px 16px;
		border: 1px solid rgba(255, 255, 255, 0.5);
	}
}
